# Database
DATABASE_URL="postgresql://user:password@localhost:5432/db"

# Better Auth (Backend-only)
BETTER_AUTH_SECRET="any_long_secret_string"
LOG_LEVEL="debug"

# Social Auth
GOOGLE_CLIENT_ID="your_google_client_id"
GOOGLE_CLIENT_SECRET="your_google_client_secret"

# Shared Environment Variables (Frontend & Backend)
VITE_API_URL="http://localhost:3001"
VITE_WEB_URL="http://localhost:3000"
