# Database
DATABASE_URL="postgresql://user:password@localhost:5432/db"

# Better Auth (Backend)
BETTER_AUTH_SECRET="any_long_secret_string"
BETTER_AUTH_URL="http://localhost:3001" # Backend URL

# Social Auth
GOOGLE_CLIENT_ID="your_google_client_id"
GOOGLE_CLIENT_SECRET="your_google_client_secret"

# Frontend
VITE_API_URL="http://localhost:3001"
